################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EDA-TP9-2/v15/Browse.VC.opendb
*.ipch
.vs/EDA-TP9-2/v15/.suo
