################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
.vs/EDA-TP9-2/v15/.suo
*.ipch
*.exe
*.ilk
*.pdb
*.obj
*.tlog
*.idb
*.ipch
